<div class="ui stacked segment container">
        <h4 class="ui header teal ribbon label">
            <i class="lightning icon"></i>
            <span class="content">
                {{ pageTitle }}
            </span>
        </h4>
    <div class="ui raised text segment">
        <div class="row downPad">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4 ui transparent left icon input">
                <input type="text" placeholder="Search..." [(ngModel)]="listFilter"/>
                <i class="search icon"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtered by: {{ listFilter }}</h3>
            </div>
        </div>
        <div *ngIf="!isLoaded" class="ui active centered inline loader">
            <div class="ui small text loader">Loading</div>
        </div>
        <div class="table-responsive">
            <table class="table ui orange" *ngIf="products && products.length">
                <thead>
                    <tr>
                        <th>
                            <button class="ui right teal labeled icon button" (click)="onClickHandler()">
                                <i class="right image icon"></i>
                                {{ showImage ? 'Hide Image' : 'Show Image' }}
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | productFilter: listFilter">
                        <td><img *ngIf="showImage" class="ui mini rounded image" [src]="product.imageUrl" [title]="product.productName"></td>
                        <td><a [routerLink]="['/product', product.productId]">{{product.productName}}</a></td>
                        <td>{{ product.productCode | lowercase }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>{{ product.price | currency: 'USD' :true:'1.2-2' }}</td>
                        <td><ai-star [rating]="product.starRating" (ratingClicked)="onRatingClicked($event)"></ai-star></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>