<div class="ui stacked segment container">
    <h4 class="ui header teal ribbon label">
        <i class="lightning icon"></i>
        <span class="content">
                {{ pageTitle }}
            </span>
    </h4>
    <div class="ui raised text segment">
        <div class="row" >
            <img src="./app/assets/images/logo.jpg"
                 class="img-responsive center-block"
                 style="max-height:300px;padding-bottom:50px"/>
        </div>
        <div class="row"  >
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Yeondam Park</h3>

            <div class="text-center">@lloydp88</div>
        </div>
    </div>
</div>